{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<div class="formlist">
    <h1>Add task</h1>
    <form action="{% url 'createtask' %}" method="post" class="createtask">
        {% csrf_token %} {{ form.as_p }}

        <input type="submit" value="submit" />
    </form>
    <div class="scrollable-list">
        {% for task in tasks %}
               <li>
                   <a href="{% url 'detail' task.id %}">{{ task.title }}</a>
                   <p>{{ task.comment }}</p>
                   <p>{{ task.created_time }}</p>
               </li>
           {% endfor %}
        <ul>
            {% for task in tasks %}
            <li>
                {{task.title}} {{task.comment}} {{task.created_time}}
                {{task.is_done}} {{task.deleted_time}}
            </li>
            <button>Update Task</button>
            <button>Delete Task</button>
            {% endfor %}
            <!-- Add more list items here -->
        </ul>
    </div>
</div>
{% endblock %}
