{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<div class="formlist">
    <h1>Add task</h1>
    <form action="{% url 'createtask' %}" method="post" class="createtask">
        {% csrf_token %}
        <div class="forming">{{ form.as_p }}</div>
        <input type="checkbox" id="task{{ task.id }}" name="complete" value="done" {% if task.complete %}checked{% endif %}>
                    <label for="task{{ task.id }}">Is done?</label>
        <input type="submit" value="submit" />
    </form>
    <div class="scrollable-list">
        <ul>
            {% for task in tasks %}
            <li>
                {{task.title}} {{task.comment}} {{task.created_time}}
                {% if form.complete %}
                <div>
                    <input
                        type="checkbox"
                        id="task{{ task.id }}"
                        name="task{{ task.id }}"
                        value="done"
                        checked
                        disabled
                    />
                    <label for="task{{ task.id }}">Is done?</label>
                </div>
                {% else %}
                <div>
                    <input
                        type="checkbox"
                        id="id_complete"
                        name="task{{ task.id }}"
                        value="done"
                    />
                    <label for="task{{ task.id }}">Is done?</label>
                </div>
                {{task.deleted_time}} {% endif %}
                <a href="{% url 'listtask' %}" >Submit</a>
            </li>
            <a href="{% url 'update' task.id %}">Update Task</a>
            <a href="{% url 'delete' task.id %}">Delete Task</a>
            {% endfor %}
            <!-- Add more list items here -->
        </ul>
    </div>
</div>
{% endblock %}
